{% extends 'base.html.twig' %}

{% block title %}Faire un Devis | {{ parent() }}{% endblock %}

{% block body %}

{{ form_start(form, {
    attr: {
        novalidate: "novalidate"
    }
}) }}

<h1 class="text-center font-weight-bold">Générer un devis</h1>

    <div class="container">

        <div class="row">
            
            <div class="col-lg-4 offset-2">
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
                {{ form_help(form.firstname) }}
                {{ form_errors(form.firstname) }}
            </div>

            <div class="col-lg-4 offset-2">
                {{ form_label(form.create_At) }}
                {{ form_widget(form.create_At) }}
                {{ form_help(form.create_At) }}
                {{ form_errors(form.create_At) }}
            </div>

            <div class="col-lg-4 offset-2">
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}
                {{ form_help(form.lastname) }}
                {{ form_errors(form.lastname) }}
            </div>

            <div class="col-lg-4 offset-2">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_help(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            
            <div class="col-12 mt-4">
                <h4 class="text-center">Choix des prestations :</h4>

                <div class="col-lg-4 offset-2">
                    <div class="form-group">
                        {{ form_label(form_p.montage) }}
                        {{ form_widget(form_p.montage) }}
                        {{ form_label(form_p.depannage) }}
                        {{ form_widget(form_p.depannage) }}
                    </div>
                </div>

                <div class="col-lg-4 offset-2">
                    <div class="form-group">
                        {{ form_label(form_p.equilibre) }}
                        {{ form_widget(form_p.equilibre) }}
                        {{ form_label(form_p.valve) }}
                        {{ form_widget(form_p.valve) }}
                    </div>
                    
                </div>

                <div class="col-lg-4 offset-2">
                    <div class="form-group">
                        {{ form_label(form_p.plaquette) }}
                        {{ form_widget(form_p.plaquette) }}
                        {{ form_label(form_p.disque) }}
                        {{ form_widget(form_p.disque) }}
                    </div>
                    
                </div>

                <div class="col-lg-4 offset-2">
                    <div class="form-group">
                        {{ form_label(form_p.vidange) }}
                        {{ form_widget(form_p.vidange) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 offset-2">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                {{ form_help(form.price) }}
                {{ form_errors(form.price) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-2">
                {{ form_widget(form) }}
                <button class="btn btn-primary mt-3 mb-3">{{ button_label|default('Générer un devis') }}</button>
            </div>
        </div>
        
    </div>

{{ form_end(form, {
    render_rest: false
}) }}

<script>
    
    const check = document.getElementsByClassName('form-check-input');
    for(let element of check){
        element.addEventListener("change", (event) => {
            let result = +document.getElementById('devis_price').value;
            const value = +event.target.value;
            result = event.target.checked ? (result + value) : (result - value);
            document.getElementById('devis_price').value = result;
        });
    }


</script>
{% endblock %}
